# Enviroment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Streamlit
.streamlit/

# Narrative Engine Data (Dynamic session data)
data/session/*
data/user_data/story_*
data/session_cache.pkl

# IDEs
.vscode/
.idea/
